<!DOCTYPE html>
<html>
<head>
    <title>Dynamic HTML Example</title>
</head>
<body>
    <h1>{{ model_name }}</h1>

    <div id="interactive-module-container">

        <div id="plot-container"></div>

        <!-- <div id="slider-container">
    
            {% for slider in slider_data %}
            <label for="{{ slider.name }}">{{ slider.name }}</label>
            <input 
                type="range" 
                id="{{ slider.name }}" 
                scale="{{ slider.scale }}"
                name="{{ slider.name }}" 
                min="{{ slider.min }}" 
                max="{{ slider.max }}" 
                value="{{ slider.initial_value }}" 
                stepsize="{{ slider.stepsize }}" 
                base="{{ slider.base}}"
            >
            <div id="output-{{ slider.name }}">{{ slider.initial_value }}</div>
            <br>
            {% endfor %}    
    
        </div> -->
        
    </div>

    <!-- <div id="dashboard-container">


        {% for slider in slider_data %}

        <div id="{{ slider.name}}-settings">

            <label for="{{ slider.name }}-scale-button"></label>
            <button id="{{ slider.name }}-scale-button"></button>

            <label for="{{ slider.name }}-min-field"></label>
            <input type="{{ slider.name }}-min-field">

            <label for="{{ slider.name }}-max-field"></label>
            <input type="{{ slider.name }}-max-field">

            <label for="{{ slider.name }}-initial-value-field"></label>
            <input type="{{ slider.name }}-initial-value-field">

            <label for="{{ slider.name }}-stepsize-field"></label>
            <input type="{{ slider.name }}-stepsize-field">

        </div>


        {% endfor %}


    </div> -->

    <script>

    </script>


</body>
</html>
